#root:has(> .status-container) {
    background-color: #feecf0;
    overflow: auto;
}

.status-container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
}

.date-holder {
    font-size: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.date {
    padding: 0 20px;
}

.time {
    min-width: 450px;
    max-width: 500px;
    width: fit-content;
}

.employee {
    display: flex;
    justify-content: center; 
    min-width: 500px;
}

.director {
    display: flex;
    justify-content: space-between; 
}

.general-nurse-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.message-header {
    font-size: 6rem;
    justify-content: space-evenly;
    padding: 0.25em 0.5em;
}

.message-body {
    font-size: 5rem;
    justify-content: space;
    padding: 0.5em 0.75em;
    align-items: center;
}

.message {
    border-bottom: 0.7em solid #0d0d0d;
}

.employee-text.available {
    color: #48c78e;
}

.employee-text.unavailable {
    color: #f14668;
}

.general-nurse-info {
    display: flex;
    justify-content: space-evenly;
}

.night {
    align-self: stretch;
}

.switch-routes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#root > div > div.containers.ground-floor > article {
    border: 0;
}

@media (width <= 1280px) {
    .date-holder {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 0;
    }
    
    .time {
        min-width: 300px;
        max-width: 400px;
        width: fit-content;
    }
    
    .employee {
        display: flex;
        justify-content: center; 
    }

    .director {
        display: flex;
        justify-content: space-between; 
    }

    .director-role {
        min-width: 240px;
        max-width: 240px;
    }

    .director-name {
        min-width: 300px;
        max-width: 300px;
    }
    
    .general-nurse-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .message-header {
        font-size: 2.5rem;
        justify-content: space-evenly;
        padding: 0.25em 0.5em;
    }
    
    .message-body {
        font-size: 2rem;
        justify-content: space;
        padding: 0.5em 0.75em;
        align-items: center;
    }
    
    .message {
        border-bottom: 0.3em solid #0d0d0d;
        border-radius: 0;
    }
}