.table-container {
    display: flex;
    flex-direction: column;
    min-height: 672px;
}

.admin-table {
    max-width: fit-content;
    align-self: center;
}

.button-holder {
    display: flex;
    justify-content: flex-start;
    max-height: 40px;
}

.admin-edit {
    color: var(--white) !important;
    background-color: var(--essential-color);
    padding: 0 11px !important;
}

.admin-value {
    margin-bottom: 0px;
    height: 40.5px;
    display: flex;
    align-items: center;
}

.button.add-employee {
    background-color: var(--essential-color);
    text-decoration: none;
    color: var(--white);
}

.no-deco {
    text-decoration: none;
}

.float-right {
    float: right;
}

.table-pagination {
    display: flex;
    max-width: fit-content;
    min-width: min-content;
    justify-content: center;
    margin: 0 !important;
    align-self: center;
}

.pagination-link.is-current {
    background-color: var(--essential-color) !important;
    color: var(--white);
    border-color: var(--essential-color);
}

.table-pagination-previous {
    order: 1;
    text-decoration: none;
}

.table-pagination-next {
    order: 3;
    text-decoration: none;
}

.table-pagination-list {
    order: 2;
    padding-left: 0;
    align-items: center;
    margin-bottom: 0;
}

.announcement-text {
    line-height: 40.5px;
    max-width: 250px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}