.button.up {
    min-width: 128px;
    min-height: 128px;
    max-width: 128px;
    max-height: 128px;
}

.button.down {
    position: fixed;
    z-index: 100;
    min-width: 128px;
    min-height: 128px;
    max-width: 128px;
    max-height: 128px;
    bottom: 7em;
    right: 7em;
}