.login-form {
    margin: 0 auto;
    max-width: 400px;
    padding: 1em;
}

.login-wrapper {
    min-width: 320px;
    max-width: 800px;
    padding-top: 3em;
    padding-bottom: 4em;
}

.divider {
    background-color: #e0e0e0;
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

@media (max-width: 991px) {
    .login-wrapper {
        padding-top: 0em !important;
        padding-bottom: 0em !important;
    }

    .divider {
        background-color: #e0e0e0;
        display: inline-block;
        align-self: stretch;
        min-height: 1px !important;
        min-width: 100%;
        margin: 0 !important;
    }

    .mobile-stack {
        display: flex;
        flex: 1 1 auto !important;
        flex-direction: column !important;
        align-self: stretch !important;
    }
}